{% load static %}
html {
  height: 100vh;
}

body {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 320px;
  max-width: 90%; /* Create white space on left and right */
  margin: auto; /* Causes entire page content to center in created space */
  height: 100vh;
}

/* Override default format for links */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

/* Adjust white space around entire web page for different screen sizes */
@media screen and (max-width: 750px) {
  body {
  max-width: 95%;
  }
}
@media screen and (max-width: 450px) {
  body {
  max-width: 100%;
  }
}


/* HEADER MENU (same for every page) */

/* Hide alternate images for header */
.home-2 {
  display: none;
}
.home-3 {
  display: none;
}
.employees-2 {
  display: none;
}
.employees-3 {
  display: none;
}
.logout-2 {
  display: none;
}
.logout-3 {
  display: none;
}
.customers-2 {
  display: none;
}
.customers-3 {
  display: none;
}
.vehicles-2 {
  display: none;
}
.vehicles-3 {
  display: none;
}

/* Specify position for whole menu bar */
#menu {
  vertical-align: top;
  display: block;
  height: 65px;
  margin-top: 10px; /* Create whitespace above images */
  margin-bottom: 10px; /* Create whitespace between header and categories */
}

/* Specify position and size for home name */
.home-name {
  float: left;
}

/* Specify position and size for account menu item */
.logout {
  float: right;
  margin-top: 12px; /* Create whitespace above image, causing the image to sit lower */
  display: block;
}

/* Specify position and size for search menu item */
.employees {
  float: right;
  margin-top: 12px; /* Create whitespace above image, causing the image to sit lower */
  padding-right: 15px; /* Create distance between Search and Account */
}
.customers {
  float: right;
  margin-top: 12px; /* Create whitespace above image, causing the image to sit lower */
  padding-right: 15px; /* Create distance between Search and Account */
}
.vehicles {
  float: right;
  margin-top: 12px; /* Create whitespace above image, causing the image to sit lower */
  padding-right: 15px; /* Create distance between Search and Account */
}

/* Specify position and size for categories on home page */
.categories {
  max-width: 100%; /* Ensure content fills only 100% of body space (90%/95% of screen) */
}

/* Change header images for screens between 750px & 451px width */
@media screen and (max-width: 750px) {
  #menu {
    height: 45px;
  }
  .home-1 {
    display: none;
  }
  .home-2 {
    display: block;
  }
  .employees-1 {
    display: none;
  }
  .employees-2 {
    display: block;
  }
  .logout-1 {
    display: none;
  }
  .logout-2 {
    display: block;
  }
  .customers-1 {
    display: none;
  }
  .customers-2 {
    display: block;
  }
  .vehicles-1 {
    display: none;
  }
  .vehicles-2 {
    display: block;
  }
}
/* Change header images again for screens size 450px or smaller width */
@media screen and (max-width: 450px) {
  #menu {
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
  }
  .home-2 {
    display: none;
  }
  .home-3 {
    display: block;
  }
  .employees-2 {
    display: none;
  }
  .employees-3 {
    display: block;
  }
  .logout-2 {
    display: none;
  }
  .logout-3 {
    display: block;
  }
  .customers-2 {
    display: none;
  }
  .customers-3 {
    display: block;
  }
  .vehicles-2 {
    display: none;
  }
  .vehicles-3 {
    display: block;
  }
}
/* END HEADER MENU */


/* TITLE BAR */

/* Specify title bar image, size and position */
#main {
  background-image: url("{% static 'bg.png' %}");
  background-repeat: no-repeat; /* To ensure it doesn't repeat image to fill space */
  background-size: cover; /* To cause the image to stretch to fill space */
  display: inline-block;
  height: 80px;
  width: 100%;
  margin-top: 10px;
}

/* Specify font details for title */
#main h1 {
  color: white;
  font-size: 35px;
  font-weight: normal;
  margin-top: 20px;
  padding-left: 5px;
}

#results {
  margin: 5px;
  min-height: calc(100vh - 340px);
  /* To ensure footer sits at bottom of page */
}

/* Specify position for buttons */
.button {
  margin-top: 100px;
  text-align: center;
}

/* Specify styling for submit button */
.button input[type="submit"] {
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-weight: bold;
  font-size: 25px;
  width: 300px;
  padding: 0;
  height: 80px;
}
/* To change styling for submit button when mouse hovers over */
.button input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

/* Modify main content for screens 750px to 451px width */
@media screen and (max-width: 750px) {
  .button {
    margin-top: 200px;
  }
}
/* Modify search bar for screens 450px and smaller width */
@media screen and (max-width: 450px) {
  .button input[type="submit"] {
    font-size: 20px;
    width: 70px;
    height: 30px;
  }
}

/* TITLE BAR END */


/* FOOTER (same for every page) */

/* Specify position, size, colour, font style and white space for whole footer */
#sitemap {
  margin-top: 10px;
  padding-top: 15px;
  padding-right: 35px;
  background-color: #c6c6c6;
  height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: bottom;
  display: block;  /* Ensure whole footer is its own block */
  text-align: center;
}

/* Specify font details and spacing for first heading */
#sitemap h1 {
  font-size: 14px;
  font-weight: normal;
  color: white;
  padding-left: 30px;
  display: inline; /* Ensure each item is on the one line */
}

/* Specify font details and spacing for sub-heading */
#sitemap h2 {
  font-size: 12px;
  font-weight: normal;
  color: white;
  padding-left: 20px;
  display: inline; /* Ensure each item is on the one line */
}

/* Modify footer for screens between 750px & 451px width */
@media screen and (max-width: 750px) {
  #sitemap {
  padding-right: 15px;
  }
  #sitemap h1 {
  font-size: 12px;
  padding-left: 12px;
  }
  #sitemap h2 {
  font-size: 10px;
  padding-left: 10px;
  }
}

/* Modify footer for screens 450px and smaller width */
@media screen and (max-width: 450px) {
  #sitemap {
  padding-right: 10px;
  height: 30px;
  padding-top: 5px;
  }
  #sitemap h1 {
  font-size: 10px;
  padding-left: 8px;
  }
  #sitemap h2 {
  font-size: 8px;
  padding-left: 5px;
  }
}
/* END FOOTER */
