/* ALL (same for every page) */

/* Formatting that applies to entire webpage body */
html {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 320px;
  max-width: 90%; /* Create white space on left and right */
  margin: auto; /* Causes entire page content to center in created space */
  height: 100%;
}

/* Override default format for links */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

/* Adjust white space around entire web page for different screen sizes */
@media screen and (max-width: 750px) {
  body {
  max-width: 95%;
  }
}
@media screen and (max-width: 450px) {
  body {
  max-width: 100%;
  }
}


/* HEADER MENU (same for every page) */

/* Hide alternate images for header */
.home-2 {
  display: none;
}
.home-3 {
  display: none;
}

/* Specify position for whole menu bar */
#menu {
  vertical-align: top;
  display: block;
  height: 85px;
  margin-top: 10px; /* Create whitespace above image */
  margin-bottom: 5px; /* Create whitespace between header and main */
  background-image: url("images/bg.png");
  background-repeat: no-repeat; /* To ensure it doesn't repeat image to fill space */
  background-size: cover; /* To cause the image to stretch to fill space */
  display: inline-block;
  width: 100%;
}

/* Specify position and size for home name */
.home-name {
  float: left;
  padding-top: 5px;
}

/* Change header images for screens between 750px & 451px width */
@media screen and (max-width: 750px) {
  #menu {
    height: 55px;
  }
  .home-name {
    padding-top: 2px;
  }
  .home-1 {
    display: none;
  }
  .home-2 {
    display: block;
  }
}
/* Change header images again for screens size 450px or smaller width */
@media screen and (max-width: 450px) {
  #menu {
    margin-left: 5px;
    margin-right: 5px;
    height: 45px;
  }
  .home-name {
    padding-top: 1px;
  }
  .home-2 {
    display: none;
  }
  .home-3 {
    display: block;
  }
}
/* END HEADER MENU */



/* REGISTRATION FORM */

/* Position and spacing for title and paragraph above form */
.title h1 {
	text-align: center;
	margin-top: 50px;
}
.title p {
	text-align: center;
	padding-bottom: 5px;
}

/* Registration Box */

#main {
  display: block;
  min-height: calc(100vh - 280px);
}

.form {
  margin: auto;
  width: 50%;
  min-width: 400px;
  margin-bottom: 80px;
  padding: 25px 15px 10px 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  background-image: url("images/bg.png"); 
  background-repeat: no-repeat; /* To ensure it doesn't repeat image to fill space */
  background-size: cover; /* To cause the image to stretch to fill space */
}

/* Specify font details for headings in form */
.form h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

/* Create spacing between Day, Month & Year items for DOB */
.form select {
  margin-right: 5px;
}

/* Styling, size and position for input fields */
input {
  width: 92%;
  padding: 10px;
  margin: 5px 10px 20px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 14px; /* Change font size inside text input box */
  font-family: 'Roboto Condensed', sans-serif; /* Change font type inside text input box */
}

/* Change colour of input fields when clicked on */
input:focus {
  background-color: #ddd;
  outline: none;
}

/* Position and width of sign up button */
.submit-button {
  width: 50%;
  margin: auto; /* Cause button to sit center on screen */
  margin-bottom: 10px; /* Create whitespace between sign up button and footer */
  margin-top: 10px;
}

/* Custom styling for sign up button */
.submit-button button[type="submit"] {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  width: 100%; /* Cause button to occupy all space in div (50% of page) */
}
/* To change styling for sign up button when mouse hovers over */
.submit-button button[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 450px) {
  .title h1 {
    margin-top: 30px;
  }
  .form {
    width: 80%;
    min-width: 200px;
  }
  .form h1 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  input {
    margin: 0px 10px 10px 10px;
    padding: 5px;
  }
  .form select {
    margin-right: 0px;
  }
  .submit-button {
    width: 50%;
  }
}

/* END REGISTRATION FORM */

