{%  extends "base_vehicle.html" %}
{% block content %}
<div>
	<h3>Vehicle ID: {{ vehicle.id }}</h3>
	<p>Make: {{ vehicle.make }}</p>
	<p>Model: {{ vehicle.model }}</p>
	<p>Series: {{ vehicle.series }}</p>
	<p>Year: {{ vehicle.year }}</p>
	<p>Price: {{ vehicle.price }}</p>
	<p>Engine: {{ vehicle.engine }}</p>
	<p>Fuel Type: {{ vehicle.fuelType }}</p>
	<p>Tank Capacity: {{ vehicle.tankCapacity }}</p>
	<p>Power: {{ vehicle.power }}</p>
	<p>Seats: {{ vehicle.seats }}</p>
	<p>Transmission: {{ vehicle.transmission }}</p>
	<p>Body Type: {{ vehicle.make }}</p>
	<p>Drive Type: {{ vehicle.driveType }}</p>
	<p>Wheelbase: {{ vehicle.wheelbase }}</p>
	</object>
</div>
{% endblock %}
