{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Including page data and sources (stylesheet/font) -->
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{% static 'CRC-style.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
      <!-- icon and splash screen -->
	  <link rel="apple-touch-icon"href="{% static 'homeicon2.jpeg' %}"/>
	  <link rel="apple-touch-startup-image" href="{% static 'homeicon2.jpeg' %}"/ >

      <title> CRC </title>
    </head>
    <body>
      <div id="menu"> <!-- Menu Bar as header of home page -->
        <div class="home-name"> <!-- Home menu link in form of image -->
          <a href="manage_home.html">
            <!-- Image options - display determined on screen size -->
            <img class="home-1" src="{% static 'home-name.png' %}" alt="Home" height="75"/>
            <img class="home-2" src="{% static 'home-name.png' %}" alt="Home" height="55"/>
            <img class="home-3" src="{% static 'home-name.png' %}" alt="Home" height="45"/>
          </a>
        </div>
      </div>
      <div id="main">
      	<div class="button">
          <input type="submit" name="submit" value="Vehicles" onclick="window.location='http://localhost:8000/vehicles/';"/>
        </div>
        <div class="button">
          <input type="submit" name="submit" value="Customers" onclick="window.location='http://localhost:8000/customers/';"/>
        </div>
        <div class="button">
          <input type="submit" name="submit" value="Orders" onclick="window.location='http://localhost:8000/orders/';"/>
        </div>
        <div class="button">
          <input type="submit" name="submit" value="Stores" onclick="window.location='http://localhost:8000/stores/';"/>
        </div>
      </div>

      <!--include 'CRC-sitemap.php';  //Include same footer for all pages -->
      <div id="sitemap"> <!-- Footer for every web page, showing site map, included using php -->
        <a href="manage_home.html">  <!-- Home menu link in form of text -->
          <h1> Home</h1>
        </a>
        <h1> | </h1> <!-- Line for break between sitemap items (separate for spacing) -->
        <a href="manage_vehicles.html"> <!-- Search page link in form of image -->
          <h1> Vehicles </h1>
        </a>
        <h1> | </h1>
        <a href="manage_customers.html"> <!-- Search page link in form of image -->
          <h1> Customers </h1>
        </a>
        <h1> | </h1>
        <a href="http://localhost:8000/customers/manage_employees.html"> <!-- Search page link in form of image -->
          <h1> Employees </h1>
        </a>
        <h1> | </h1>
        <a href="manage_login.html"> <!-- Account registration link in form of image -->
          <h1> Logout </h1>
        </a>
      </div>
    </body>
  </html>
