{%  extends "base_vehicle.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div>

	<form action="/action_page.php">
	  ID: <input type="text" name="fname"><br>
	  <input type="submit" value="Submit">
	</form>
<br>
<table id="resultsTable">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Address</th>
		<th>Birthday</th>
		<th>Occupation</th>
		<th>Gender</th>
	</tr>
	</thead>
	<tbody>
	{% for c in customer %}
			<tr>
				<td>{{ c.id }}</td>
				<td>{{ c.customer_name }}</td>
				<td>{{ c.customer_phone }}</td>
				<td>{{ c.customer_address }}</td>
				<td>{{ c.customer_birthday }}</td>
				<td>{{ c.customer_occupation }}</td>
				<td>{{ c.customer_gender }}</td>
	  	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#resultsTable').DataTable();
} );
</script>
{% endblock %}
