{%  extends "base_store.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div>
<table id="resultsTable">
	<thead>
	<tr>
		<th>ID</th>
		<th>Store Name</th>
		<th>Address</th>
		<th>Phone</th>
		<th>City</th>
		<th>State</th>
	</tr>
	</thead>
	<tbody>
	{% for s in store %}
			<tr>
				<td>{{ s.id }}</td>
				<td>{{ s.store_name }}</td>
				<td>{{ s.store_address }}</td>
				<td>{{ s.store_phone }}</td>
				<td>{{ s.store_city }}</td>
				<td>{{ s.store_state }}</td>
	  	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#resultsTable').DataTable();
} );
</script>
{% endblock %}
