{%  extends "base_vehicle.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div>

	<form action="/action_page.php">
	  ID: <input type="text" name="fname"><br>
	  <input type="submit" value="Submit">
	</form>
<br>
<table id="resultsTable">
	<thead>
	<tr>
		<th>Vehicle ID</th>
		<th>Make</th>
		<th>Model</th>
		<th>Series</th>
		<th>Year</th>
		<th>Price</th>
		<th>Engine</th>
		<th>Fuel Type</th>
		<th>Tank Capacity</th>
		<th>Power</th>
		<th>Seats</th>
		<th>Transmission</th>
		<th>Body Type</th>
		<th>Drive Type</th>
		<th>Wheelbase</th>
	</tr>
	</thead>
	<tbody>
	{% for v in vehicle %}
			<tr>
				<td>{{ v.id }}</td>
				<td>{{ v.make }}</td>
				<td>{{ v.model }}</td>
				<td>{{ v.series }}</td>
				<td>{{ v.year }}</td>
				<td>{{ v.price }}</td>
				<td>{{ v.engine }}</td>
				<td>{{ v.fuel_type }}</td>
				<td>{{ v.tank_capacity }}</td>
				<td>{{ v.power }}</td>
				<td>{{ v.seats }}</td>
				<td>{{ v.transmission }}</td>
				<td>{{ v.make }}</td>
				<td>{{ v.drive_type }}</td>
				<td>{{ v.wheelbase }}</td>
	  	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#resultsTable').DataTable();
} );
</script>
{% endblock %}
