{%  extends "base_order.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div>

	<form action="/action_page.php">
	  ID: <input type="text" name="fname"><br>
	  <input type="submit" value="Submit">
	</form>
<br>
<table id="resultsTable">
	<thead>
	<tr>
		<th>ID</th>
		<th>Create Date</th>
		<th>Pickup Date</th>
		<th>Return Date</th>
		<th>Customer ID</th>
		<th>Car ID</th>
		<th>Pickp Store ID</th>
		<th>Return Store ID</th>
	</tr>
	</thead>
	<tbody>
	{% for o in order %}
			<tr>
				<td>{{ o.id }}</td>
				<td>{{ o.order_create_date }}</td>
				<td>{{ o.pickup_date }}</td>
				<td>{{ o.return_date }}</td>
				<td>{{ o.customer_id }}</td>
				<td>{{ o.car_id }}</td>
				<td>{{ o.pickup_store_id }}</td>
				<td>{{ o.return_store_id }}</td>
	  	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#resultsTable').DataTable();
} );
</script>
{% endblock %}
